@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
.modal-sm
{
    max-width: 90% !important;
    min-height: fit-content;
    margin: auto ;
    box-shadow: 0 2px 0.3em rgb(126, 126, 126);
    border-radius: 10px;
    padding: 4%;
}

.modal-d
{
    max-width: 90% !important;
    height: 80%;
    min-height: fit-content;
    margin: auto ;
    box-shadow: 0 2px 0.3em rgb(126, 126, 126);
    border-radius: 10px;
}
.container-legend
{
    display: flex;
    justify-content: space-between;
    background-color: rgb(238, 238, 238);
    padding: 0.8rem;
    margin-bottom: 1rem;
    align-content: space-between;
}
.container-legend svg
{
    color: gray;
}
.p-lg
{
    font-family: Archivo,sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;
}

.link-form-orange
{
    color: orange !important;
    text-decoration: none;
}
.link-form-orange:hover
{
    color: chocolate !important;
}
.btn-primary-d
{
    color: white;
    background-color: darkblue;
    background-image: linear-gradient(rgb(23,131,225), rgb(19, 85, 208));
    border-color: aliceblue;
}
.btn-custom
{
    background-color: rgb(248, 83, 33);
    color: aliceblue;
    font-weight: bolder;
}